## pandas 기초

- pandas는 R의 핵심 데이터 시리즈와 프레이믈 파이썬의 추가한 것이다
- numpay를 기반으로 구현되었고, numpy 대비 기능을 더 확장하여 재구현한 것
- Python Data analysis Library
- https://pandas.pydata.org

In [41]:
import numpy as np
import pandas as pd

- 파이썬의 자료구조
> 수치형, 문자열, 리스트, 딕셔너리, 튜플, 집합, 블린
- numpy의 자료구조
> ndarray(배열) : 배열의 데이터는 모든 같은 타입이다.
- pandas의 자료구조
> Series(시리즈), DataFrame(데이터프레임)
> DataFrame의 인덱싱 -> Series의 인덱싱 -> 값(스칼라), 수치, 문자 블린,NaN 이 등장
> Series: 인덱스와 데이터만 존재하는 컬럼이 없는 자료구조
> DataFrame: 인덱스와 컬럼이 존재하는 자료구조
> NaN: 데이터가 없다. (난,넌), Not a Number => np.nan

In [2]:
# Series
# 데이터를 정수로 넣었으나 기볺여으로 float64가 반영되었다.
a = pd.Series( [1,3,5,np.nan,6,8] )
a

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# 속성
a.dtype

dtype('float64')

In [4]:
# 속성-크기
a.shape  # 1차원 데이터로 총 6개의 데이터가 존재

(6,)

In [5]:
# DataFrame
# 인덱스와 컬럼이 존재하는 자료구조
cols = 'ABCD' 
# ['','','',''] 리스트 로 만들기
cols = list('ABCD')
indexs = pd.date_range('20190812', periods=7)
# 컬럼 4개 인덱스 7개
cols,indexs

(['A', 'B', 'C', 'D'],
 DatetimeIndex(['2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
                '2019-08-16', '2019-08-17', '2019-08-18'],
               dtype='datetime64[ns]', freq='D'))

In [6]:
# 데이터는  shape => (7,4) # 인덱스 값이 먼저, 뒤가 컬럼값
datas = np.random.randn(7,4)
datas, datas.shape

(array([[ 2.06608858e+00, -1.04918928e+00,  1.52214226e+00,
         -4.81156104e-01],
        [-3.11461380e-01,  4.36933653e-01, -3.20700283e+00,
          1.55038821e+00],
        [-1.94969963e-04,  6.88413216e-01, -6.40972794e-01,
          5.55134049e-01],
        [ 3.57976396e-01,  1.22170728e-01, -7.49669100e-01,
          4.65207228e-01],
        [-1.26324641e+00, -6.23989788e-01,  1.13087832e+00,
          5.71936101e-01],
        [ 7.58689878e-01,  6.97541250e-01,  1.92058968e+00,
         -1.03248008e+00],
        [ 2.16937655e-02, -9.32476873e-01, -1.32230044e+00,
          4.24944076e-01]]), (7, 4))

In [7]:
# df 생성
df = pd.DataFrame( datas,index=indexs,columns=cols)
df

                   A         B         C         D
2019-08-12  2.066089 -1.049189  1.522142 -0.481156
2019-08-13 -0.311461  0.436934 -3.207003  1.550388
2019-08-14 -0.000195  0.688413 -0.640973  0.555134
2019-08-15  0.357976  0.122171 -0.749669  0.465207
2019-08-16 -1.263246 -0.623990  1.130878  0.571936
2019-08-17  0.758690  0.697541  1.920590 -1.032480
2019-08-18  0.021694 -0.932477 -1.322300  0.424944

- ** 데아터가 로드된 후 DataFrame을 만든 후 점검할 사항**

In [8]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df.index

DatetimeIndex(['2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
               '2019-08-16', '2019-08-17', '2019-08-18'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.values

array([[ 2.06608858e+00, -1.04918928e+00,  1.52214226e+00,
        -4.81156104e-01],
       [-3.11461380e-01,  4.36933653e-01, -3.20700283e+00,
         1.55038821e+00],
       [-1.94969963e-04,  6.88413216e-01, -6.40972794e-01,
         5.55134049e-01],
       [ 3.57976396e-01,  1.22170728e-01, -7.49669100e-01,
         4.65207228e-01],
       [-1.26324641e+00, -6.23989788e-01,  1.13087832e+00,
         5.71936101e-01],
       [ 7.58689878e-01,  6.97541250e-01,  1.92058968e+00,
        -1.03248008e+00],
       [ 2.16937655e-02, -9.32476873e-01, -1.32230044e+00,
         4.24944076e-01]])

In [11]:
type(df.values)

numpy.ndarray

In [12]:
df.shape

(7, 4)

In [13]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [14]:
# df의 개요
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7 entries, 2019-08-12 to 2019-08-18
Freq: D
Data columns (total 4 columns):
A    7 non-null float64
B    7 non-null float64
C    7 non-null float64
D    7 non-null float64
dtypes: float64(4)
memory usage: 280.0 bytes

In [15]:
# 통계요약 : 개수, 평균, 표준편차, 최소, 25%, 50%, 75% 최대
df.describe()

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean   0.232792 -0.094371 -0.192334  0.293425
std    1.023589  0.759786  1.827189  0.829741
min   -1.263246 -1.049189 -3.207003 -1.032480
25%   -0.155828 -0.778233 -1.035985 -0.028106
50%    0.021694  0.122171 -0.640973  0.465207
75%    0.558333  0.562673  1.326510  0.563535
max    2.066089  0.697541  1.920590  1.550388

In [16]:
# B열 기준 데이터를 정렬, 내림차순, 
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2019-08-17  0.758690  0.697541  1.920590 -1.032480
2019-08-14 -0.000195  0.688413 -0.640973  0.555134
2019-08-13 -0.311461  0.436934 -3.207003  1.550388
2019-08-15  0.357976  0.122171 -0.749669  0.465207
2019-08-16 -1.263246 -0.623990  1.130878  0.571936
2019-08-18  0.021694 -0.932477 -1.322300  0.424944
2019-08-12  2.066089 -1.049189  1.522142 -0.481156

In [17]:
# 특정 컬럼의 데이터만 보기 => 인덱싱 => 차원축소
df['C'], type(df['C'])

(2019-08-12    1.522142
 2019-08-13   -3.207003
 2019-08-14   -0.640973
 2019-08-15   -0.749669
 2019-08-16    1.130878
 2019-08-17    1.920590
 2019-08-18   -1.322300
 Freq: D, Name: C, dtype: float64, pandas.core.series.Series)

In [18]:
# 슬라이싱 : 차원유지
df[:] # 카피 동일

                   A         B         C         D
2019-08-12  2.066089 -1.049189  1.522142 -0.481156
2019-08-13 -0.311461  0.436934 -3.207003  1.550388
2019-08-14 -0.000195  0.688413 -0.640973  0.555134
2019-08-15  0.357976  0.122171 -0.749669  0.465207
2019-08-16 -1.263246 -0.623990  1.130878  0.571936
2019-08-17  0.758690  0.697541  1.920590 -1.032480
2019-08-18  0.021694 -0.932477 -1.322300  0.424944

In [19]:
# 데이터가 슬라이싱 되서 나온다 => 차원을 유지해야 하니까
# a <= x <B
df[1:3] # 1:3은 인덱스 값 기준

                   A         B         C         D
2019-08-13 -0.311461  0.436934 -3.207003  1.550388
2019-08-14 -0.000195  0.688413 -0.640973  0.555134

In [20]:
# 슬라이싱을 하는데 인덱스 값이 아닌 실제 값으로 자르기
# a<= x <= b
df['2019-08-13':'2019-08-15']

                   A         B         C         D
2019-08-13 -0.311461  0.436934 -3.207003  1.550388
2019-08-14 -0.000195  0.688413 -0.640973  0.555134
2019-08-15  0.357976  0.122171 -0.749669  0.465207

- 전통적인 인덱싱과 슬라이싱을 진행하면 표현의 한계점에 도달.
- 이를 극복하기 위해서 pandas 만의 데이터 추출법이 추가가 되었다.
- loc, iloc <= 2개를 주로 사용한다.
- 연속데이터에 대한 추출  <-> 비연속 데이터들의 추출법(펜시인뎅싱, 쿼리수행등등)

### loc

In [21]:
# loc : location 정보를 옵션으로 하여 슬라이싱 지원
# loc을 통한 데이터추출
# df.loc[ 인덱스명 ]
df.loc['2019-08-12'], type(df.loc['2019-08-12'])

(A    2.066089
 B   -1.049189
 C    1.522142
 D   -0.481156
 Name: 2019-08-12 00:00:00, dtype: float64, pandas.core.series.Series)

In [22]:
# 원본 카피

df.loc[:]

                   A         B         C         D
2019-08-12  2.066089 -1.049189  1.522142 -0.481156
2019-08-13 -0.311461  0.436934 -3.207003  1.550388
2019-08-14 -0.000195  0.688413 -0.640973  0.555134
2019-08-15  0.357976  0.122171 -0.749669  0.465207
2019-08-16 -1.263246 -0.623990  1.130878  0.571936
2019-08-17  0.758690  0.697541  1.920590 -1.032480
2019-08-18  0.021694 -0.932477 -1.322300  0.424944

In [23]:
# 인덱스쪽은 전부 포함시키고(1차원), 컬럼은 A,C만 포함(2차원)
df.loc[ :,['A','C'] ]    # 인덱스, 컬럼 순으로 표현.   , 앞부분은 인덱스 , 뒷부분은 컬럼

                   A         C
2019-08-12  2.066089  1.522142
2019-08-13 -0.311461 -3.207003
2019-08-14 -0.000195 -0.640973
2019-08-15  0.357976 -0.749669
2019-08-16 -1.263246  1.130878
2019-08-17  0.758690  1.920590
2019-08-18  0.021694 -1.322300

In [24]:
# 차원축소

df.loc[: ,'A'] , type(df.loc[: ,'A'])

(2019-08-12    2.066089
 2019-08-13   -0.311461
 2019-08-14   -0.000195
 2019-08-15    0.357976
 2019-08-16   -1.263246
 2019-08-17    0.758690
 2019-08-18    0.021694
 Freq: D, Name: A, dtype: float64, pandas.core.series.Series)

In [25]:
# 차원유지

df.loc[: ,['A']] , type(df.loc[: ,['A']])

(                   A
 2019-08-12  2.066089
 2019-08-13 -0.311461
 2019-08-14 -0.000195
 2019-08-15  0.357976
 2019-08-16 -1.263246
 2019-08-17  0.758690
 2019-08-18  0.021694, pandas.core.frame.DataFrame)

In [26]:
df.loc[ '2019-08-13':'2019-08-15',['A','C'] ] # 차원 유지 = 데이터프레임

                   A         C
2019-08-13 -0.311461 -3.207003
2019-08-14 -0.000195 -0.640973
2019-08-15  0.357976 -0.749669

In [27]:
# 차원축소
df.loc[ '2019-08-13', ['A','C']]

A   -0.311461
C   -3.207003
Name: 2019-08-13 00:00:00, dtype: float64

In [28]:
# 차원유지
df.loc[ '2019-08-13':'2019-08-13', ['A','C']]

                   A         C
2019-08-13 -0.311461 -3.207003

In [29]:
# 차원축소가 2회 진행 -> 스칼라 (값)
df.loc['2019-08-12','A']

2.066088577552664

### iloc 

- 펜시인덱싱과 유사하다.
- 행과 열의 번호를 이용하여 데이터를 접근하는 방식
- i -> index

In [30]:
# 2019-08-13wk epdlxj cncnf
# 1 => 인덱스 값이 1인 데이터
df.iloc[ 1 ]

A   -0.311461
B    0.436934
C   -3.207003
D    1.550388
Name: 2019-08-13 00:00:00, dtype: float64

In [31]:
# iloc 슬라이싱
# a <= index < b, c <= column < d
df.iloc[ 1:3, 1:3 ]

                   B         C
2019-08-13  0.436934 -3.207003
2019-08-14  0.688413 -0.640973

In [32]:
# iloc + 펜시인덱싱 기법 사용 (인덱스, 컬럼을 비연속적 위치를 나열)
df.iloc[ [1,4,2] , [1,0,2] ]

                   B         A         C
2019-08-13  0.436934 -0.311461 -3.207003
2019-08-16 -0.623990 -1.263246  1.130878
2019-08-14  0.688413 -0.000195 -0.640973

In [33]:
# 특정 조건에 만족하는 데이터만 추출
# 데이터프레임이 생성되면 컬럼명은 맴버 변수로 자동생성됨( df. 찍고 탭 눌러보면 A,B,C,D가 뜬다.)
# C 컬럼에 존재하는 데이터 중에 양수만( 양수면 True, 0이하면 False)
# 조건을 부여하여 블리언 데이터를 만들어 참만 포함시키는 방식 : 블리언 인덱싱
# [T, F, F, F, T, T, T] 데이터를 and하면 참만 살아나마서 아래와 같은 결과를 발생
# df에 식을 치면 => 전체 구성원에 전부 다 연산이 진행된다.
# 행렬 (연산) 값 => 각 구성원에 일일이 다 연산하는 것과 동일
df[df.C > 0]

                   A         B         C         D
2019-08-12  2.066089 -1.049189  1.522142 -0.481156
2019-08-16 -1.263246 -0.623990  1.130878  0.571936
2019-08-17  0.758690  0.697541  1.920590 -1.032480

In [34]:
# 데이터 전체를 기준으로 0보다 큰가? 0보다 같거나 작은 데이터들은? ==> Nan으로 대체
df[df > 0]

                   A         B         C         D
2019-08-12  2.066089       NaN  1.522142       NaN
2019-08-13       NaN  0.436934       NaN  1.550388
2019-08-14       NaN  0.688413       NaN  0.555134
2019-08-15  0.357976  0.122171       NaN  0.465207
2019-08-16       NaN       NaN  1.130878  0.571936
2019-08-17  0.758690  0.697541  1.920590       NaN
2019-08-18  0.021694       NaN       NaN  0.424944

In [35]:
# 복사
df.copy(), df[:]

(                   A         B         C         D
 2019-08-12  2.066089 -1.049189  1.522142 -0.481156
 2019-08-13 -0.311461  0.436934 -3.207003  1.550388
 2019-08-14 -0.000195  0.688413 -0.640973  0.555134
 2019-08-15  0.357976  0.122171 -0.749669  0.465207
 2019-08-16 -1.263246 -0.623990  1.130878  0.571936
 2019-08-17  0.758690  0.697541  1.920590 -1.032480
 2019-08-18  0.021694 -0.932477 -1.322300  0.424944,
                    A         B         C         D
 2019-08-12  2.066089 -1.049189  1.522142 -0.481156
 2019-08-13 -0.311461  0.436934 -3.207003  1.550388
 2019-08-14 -0.000195  0.688413 -0.640973  0.555134
 2019-08-15  0.357976  0.122171 -0.749669  0.465207
 2019-08-16 -1.263246 -0.623990  1.130878  0.571936
 2019-08-17  0.758690  0.697541  1.920590 -1.032480
 2019-08-18  0.021694 -0.932477 -1.322300  0.424944)

In [36]:
# 기존데이터 df에 새로운 컬럼을 추가한다!! (아주 중요) => 파생변수
# 기존 df의 1차원과 동수의 데이터가 존재해야 한다.
# 데이터는 리스트 ok, Series도 ok
new_data = ['one','one','two','three','four','five','five']
# 데이터 추가, 대상[ 신규컬럼명 ] = 데이터
df['E'] = new_data

In [37]:
df

                   A         B         C         D      E
2019-08-12  2.066089 -1.049189  1.522142 -0.481156    one
2019-08-13 -0.311461  0.436934 -3.207003  1.550388    one
2019-08-14 -0.000195  0.688413 -0.640973  0.555134    two
2019-08-15  0.357976  0.122171 -0.749669  0.465207  three
2019-08-16 -1.263246 -0.623990  1.130878  0.571936   four
2019-08-17  0.758690  0.697541  1.920590 -1.032480   five
2019-08-18  0.021694 -0.932477 -1.322300  0.424944   five

In [38]:
# 데이터 조사
# 안에 그런 값이 있는가?  => False, True
df['E'].isin(['two','four'])

2019-08-12    False
2019-08-13    False
2019-08-14     True
2019-08-15    False
2019-08-16     True
2019-08-17    False
2019-08-18    False
Freq: D, Name: E, dtype: bool

In [39]:
df[df['E'].isin(['two','four'])]

                   A         B         C         D     E
2019-08-14 -0.000195  0.688413 -0.640973  0.555134   two
2019-08-16 -1.263246 -0.623990  1.130878  0.571936  four

In [57]:
# 누적값 
# apply ( 함수를 표현 ) => 맴버들을 다 건드린다.
df.apply(np.cumsum)

                   A         B         C         D
2019-08-12  2.066089 -1.049189  1.522142 -0.481156
2019-08-13  1.754627 -0.612256 -1.684861  1.069232
2019-08-14  1.754432  0.076158 -2.325833  1.624366
2019-08-15  2.112409  0.198328 -3.075502  2.089573
2019-08-16  0.849162 -0.425661 -1.944624  2.661509
2019-08-17  1.607852  0.271880 -0.024034  1.629029
2019-08-18  1.629546 -0.660597 -1.346335  2.053973

In [61]:
try
# 제거
    df.drop(['E'],inplace = True, axis =1)
    df
except Exception as e:
    pass  # try~ except예외 처리

SyntaxError: invalid syntax (<ipython-input-61-c382c19df846>, line 1)

In [55]:
# 각 컬럼의 최대값에서 최소값을 뺀 값 -> 거리 : distance
df.apply(lambda x:x.max()-x.min())

A    3.329335
B    1.746731
C    5.127593
D    2.582868
dtype: float64

In [63]:
df.max(), df.min()

(A    2.066089
 B    0.697541
 C    1.920590
 D    1.550388
 dtype: float64, A   -1.263246
 B   -1.049189
 C   -3.207003
 D   -1.032480
 dtype: float64)