## 서울시기준, 자치구별 CCTV, 인구 현황 분석

- 개별 데이터 분석
- 상관성 분석
- pandas 사용법 습득, 시각화 기초

### 1. 데이터 수집(획득) 및 로드

In [1]:
import numpy as np
import pandas as pd

- pandas에서 엑셀(csv) 파일로드
- 데이터를 부분 확인 후 데이터 이상여부 간단히 시각적 확인

In [5]:
s_cctv = pd.read_excel('../data/seoul_cctv_state.xlsx', encoding='utf-8')

In [7]:
# 전체 확인 
s_cctv

        기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0     강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1     강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385
2     강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
3     강 서 구  1617     219.0  155.0  118.0    230    187    190    264    254
4     관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671
5     광 진 구  1581     470.0   42.0   83.0     87     64     21    468    346
6     구 로 구  3227     852.0  219.0  349.0    187    268    326    540    486
7     금 천 구  1634      27.0   17.0  242.0    101    382    136    199    530
8     노 원 구  1906     481.0  117.0  203.0     80    461    298    110    156
9     도 봉 구   858     197.0   66.0    8.0    185     59    155    117     71
10     동대문구  2003       NaN    NaN    NaN   1326    111    233    136    197
11    동 작 구  1780     238.0   93.0   29.0    503    130    254    278    255
12    마 포 구  1935     585.0  108.0   69.0     70    177    359    372    195
13     서대문구  2121     565.0  233.0  214.0    114    109    277    415    194
14    서 초 구  2835    1172.0   91.0  228.0    134    215    352    247    396
15    성 동 구  2679     665.0  109.0  118.0    101    258    201    933    294
16    성 북 구  3003     779.0   84.0  304.0    241    279    388    285    643
17    송 파 구  1586     600.0   99.0   88.0     21    166    100    116    396
18    양 천 구  2775     772.0  161.0  185.0    169    172    349    137    830
19     영등포구  2495     132.0  121.0  206.0    217    366    289    371    793
20    용 산 구  2063    1279.0  152.0  201.0    107    102     89     60     73
21    은 평 구  2962    1365.0   83.0   99.0    343    180    296    229    367
22    종 로 구  1471       8.0    7.0  599.0    132    195    148    281    101
23  중     구  1544      25.0  165.0  114.0     80    245    270    317    328
24    중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9

In [11]:
# 상위값 확인
s_cctv.head()  # 5개가 확인됨
s_cctv.head(2) # 2개

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

In [13]:
# 하위값 확인
s_cctv.tail()   # 5개
s_cctv.tail(2)  # 2개

        기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
23  중     구  1544      25.0  165.0  114.0     80    245    270    317    328
24    중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9

- 대략적으로 탐색한 결과 동대문구와 중량구에 결측치(NaN) 확인

In [14]:
# 탐색 
# 컬러명 확인
s_cctv.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [15]:
# '2011년 이전' 이라는 컬러명 획득
s_cctv.columns[2]

'2011년 이전'

In [16]:
# 데이터의 차원, 모습 확인 => shape
s_cctv.shape

(25, 10)

In [17]:
# 인덱스 
s_cctv.index

RangeIndex(start=0, stop=25, step=1)

In [21]:
s_cctv.index[1]

1

In [22]:
s_cctv.head(2)

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

In [24]:
# 기관명 => 자치구 명칭을 통일 => DataFrame의 컬럼명 변경 (의미의 명확성 부여)
# inplace => 파라미터는 원본을 변경할 것인가? True면 원본변경(반영)
# s_cctv.rename(columns={ key:value}, inplace=True )
# key: 이전 컬럼명 , 값: 신규컬럼명
s_cctv.rename(columns={ s_cctv.columns[0]:'자치구'}, inplace=True )

In [25]:
s_cctv.head(1)

     자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448

#### 실습 
- s_pop이라는 변수명으로 report.csv를 데이터를 로드하시오.
- 데이터가 잘 오픈되지 않아서 일단 Report.xls로 다시 받아서 동일하게 처리 진행

In [40]:
s_pop = pd.read_excel('../data/Report.xls', encoding= 'utf-8')
s_pop

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2018,합계,4263868,10049607,4910849,5138758,9765623,4773899,4991724,283984,136950,147034,2,1416131
3,2018,종로구,73735,163026,79156,83870,153065,74825,78240,9961,4331,5630,2,26742
4,2018,중구,61502,135633,66674,68959,125725,61947,63778,9908,4727,5181,2,22005
5,2018,용산구,108974,245090,119766,125324,228999,110640,118359,16091,9126,6965,2,37640
6,2018,성동구,137209,316463,155091,161372,308221,151359,156862,8242,3732,4510,2,42767
7,2018,광진구,162606,371063,179527,191536,355559,172794,182765,15504,6733,8771,2,45619
8,2018,동대문구,161820,364338,179774,184564,348052,173567,174485,16286,6207,10079,2,57165
9,2018,중랑구,180511,408147,202448,205699,403209,200419,202790,4938,2029,2909,2,61830
10,2018,성북구,186601,447687,216495,231192,435868,211904,223964,11819,4591,7228,2,67782
11,2018,강북구,143395,322915,157522,165393,319164,156071,163093,3751,1451,2300,2,58196
12,2018,도봉구,138087,341649,167043,174606,339413,166160,173253,2236,883,1353,2,55964
13,2018,노원구,217655,548160,265870,282290,543752,263919,279833,4408,1951,2457,3,77096
14,2018,은평구,205001,487666,235600,252066,483197,233702,249495,4469,1898,2571,2,77420
15,2018,서대문구,138549,323080,153816,169264,310313,149569,160744,12767,4247,8520,2,50456
16,2018,마포구,172505,386359,182573,203786,375077,178240,196837,11282,4333,6949,2,50833
17,2018,양천구,176498,468145,230457,237688,464185,228634,235551,3960,1823,2137,3,58045
18,2018,강서구,258503,603611,293289,310322,596949,290079,306870,6662,3210,3452,2,79660
19,2018,구로구,172457,438486,219949,218537,404497,200417,204080,33989,19532,14457,2,61801
20,2018,금천구,107971,254021,130398,123623,233917,118915,115002,20104,11483,8621,2,35739
21,2018,영등포구,171085,403600,203319,200281,367778,183224,184554,35822,20095,15727,2,55673
22,2018,동작구,177176,409385,198458,210927,396203,192533,203670,13182,5925,7257,2,59479
23,2018,관악구,262222,520040,260742,259298,501957,252160,249797,18083,8582,9501,2,72249
24,2018,서초구,172918,438163,209977,228186,433951,207868,226083,4212,2109,2103,3,54751
25,2018,강남구,228775,547453,262203,285250,542364,259611,282753,5089,2592,2497,2,67085
26,2018,송파구,270866,673507,326849,346658,666635,323526,343109,6872,3323,3549,2,81364
27,2018,강동구,177247,431920,213853,218067,427573,211816,215757,4347,2037,2310,2,58770

In [44]:
# 데이터를 들여다 보니 컬럼쪽이 2개가 더 많이 나타났다. 헤더를 2번으로 지정하여 갯 수를 줄이겟다.
# 필요 없는 데이터는 로드 단계에서 걷어내겠다 -> 사전에 데이터를 보고 판단
s_pop = pd.read_excel('../data/Report.xls', encoding= 'utf-8', header=2,
                     usecols = 'A,B,D,G,J,P')
s_pop.head(2)

     기간  자치구         계       계.1     계.2  65세이상고령자
0  2011   합계  10528774  10249679  279095   1049425
1  2011  종로구    177419    168382    9037     22939

In [55]:
# 컬럼명을 의미있게 조정
# 계 ~ ..고령자 => 인구수, 한국인, 외국인, 고령자
dic = {
    s_pop.columns[2] :'인구수',
    s_pop.columns[3] :'외국인',
    s_pop.columns[4] : '외국인',
    s_pop.columns[5] : '고령자'
        
}
s_pop.rename(columns=dic, inplace=True)
s_pop.head(2)

     기간  자치구       인구수       외국인     외국인      고령자
0  2011   합계  10528774  10249679  279095  1049425
1  2011  종로구    177419    168382    9037    22939

## pandas 기초 학습

<a href ='http://localhost:8888/notebooks/Desktop/py_projects/analysis/pandas/basic/pandas%EA%B8%B0%EC%B4%88.ipynb'>이동하기</a>