## 서울시기준, 자치구별 CCTV, 인구 현황 분석

- 개별 데이터 분석
- 상관성 분석
- pandas 사용법 습득, 시각화 기초

### 1. 데이터 수집(획득) 및 로드

In [453]:
import numpy as np
import pandas as pd

- pandas에서 엑셀(csv) 파일로드
- 데이터를 부분 확인 후 데이터 이상여부 간단히 시각적 확인

In [454]:
s_cctv = pd.read_excel('../data/seoul_cctv_state.xlsx', encoding='utf-8')

In [455]:
# 전체 확인 
s_cctv

        기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0     강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1     강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385
2     강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
3     강 서 구  1617     219.0  155.0  118.0    230    187    190    264    254
4     관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671
5     광 진 구  1581     470.0   42.0   83.0     87     64     21    468    346
6     구 로 구  3227     852.0  219.0  349.0    187    268    326    540    486
7     금 천 구  1634      27.0   17.0  242.0    101    382    136    199    530
8     노 원 구  1906     481.0  117.0  203.0     80    461    298    110    156
9     도 봉 구   858     197.0   66.0    8.0    185     59    155    117     71
10     동대문구  2003       NaN    NaN    NaN   1326    111    233    136    197
11    동 작 구  1780     238.0   93.0   29.0    503    130    254    278    255
12    마 포 구  1935     585.0  108.0   69.0     70    177    359    372    195
13     서대문구  2121     565.0  233.0  214.0    114    109    277    415    194
14    서 초 구  2835    1172.0   91.0  228.0    134    215    352    247    396
15    성 동 구  2679     665.0  109.0  118.0    101    258    201    933    294
16    성 북 구  3003     779.0   84.0  304.0    241    279    388    285    643
17    송 파 구  1586     600.0   99.0   88.0     21    166    100    116    396
18    양 천 구  2775     772.0  161.0  185.0    169    172    349    137    830
19     영등포구  2495     132.0  121.0  206.0    217    366    289    371    793
20    용 산 구  2063    1279.0  152.0  201.0    107    102     89     60     73
21    은 평 구  2962    1365.0   83.0   99.0    343    180    296    229    367
22    종 로 구  1471       8.0    7.0  599.0    132    195    148    281    101
23  중     구  1544      25.0  165.0  114.0     80    245    270    317    328
24    중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9

In [456]:
# 상위값 확인
s_cctv.head()  # 5개가 확인됨
s_cctv.head(2) # 2개

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

In [457]:
# 하위값 확인
s_cctv.tail()   # 5개
s_cctv.tail(2)  # 2개

        기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
23  중     구  1544      25.0  165.0  114.0     80    245    270    317    328
24    중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9

- 대략적으로 탐색한 결과 동대문구와 중량구에 결측치(NaN) 확인

In [458]:
# 탐색 
# 컬러명 확인
s_cctv.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [459]:
# '2011년 이전' 이라는 컬러명 획득
s_cctv.columns[2]

'2011년 이전'

In [460]:
# 데이터의 차원, 모습 확인 => shape
s_cctv.shape

(25, 10)

In [461]:
# 인덱스 
s_cctv.index

RangeIndex(start=0, stop=25, step=1)

In [462]:
s_cctv.index[1]

1

In [463]:
s_cctv.head(2)

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

In [464]:
# 기관명 => 자치구 명칭을 통일 => DataFrame의 컬럼명 변경 (의미의 명확성 부여)
# inplace => 파라미터는 원본을 변경할 것인가? True면 원본변경(반영)
# s_cctv.rename(columns={ key:value}, inplace=True )
# key: 이전 컬럼명 , 값: 신규컬럼명
s_cctv.rename(columns={ s_cctv.columns[0]:'자치구'}, inplace=True )

In [465]:
s_cctv.head(1)

     자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448

#### 실습 
- s_pop이라는 변수명으로 report.csv를 데이터를 로드하시오.
- 데이터가 잘 오픈되지 않아서 일단 Report.xls로 다시 받아서 동일하게 처리 진행

In [466]:
s_pop = pd.read_excel('../data/Report.xls', encoding= 'utf-8')
s_pop

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,인구밀도,인구밀도.1,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,인구밀도,인구밀도,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,인구밀도(명/㎢),면적(㎢),세대당인구,65세이상고령자
2,2011,합계,4192752,10528774,5208492,5320282,10249679,5073899,5175780,279095,134593,144502,17397,605,2,1049425
3,2011,종로구,76688,177419,88107,89312,168382,83931,84451,9037,4176,4861,7421,24,2,22939
4,2011,중구,61475,141567,71137,70430,133193,67065,66128,8374,4072,4302,14212,10,2,18099
5,2011,용산구,112617,259288,126735,132553,246501,120183,126318,12787,6552,6235,11857,22,2,31837
6,2011,성동구,126148,308767,154511,154256,300711,150655,150056,8056,3856,4200,18325,17,2,32767
7,2011,광진구,158472,386673,190867,195806,371936,184103,187833,14737,6764,7973,22661,17,2,33613
8,2011,동대문구,157823,378534,189538,188996,365486,183925,181561,13048,5613,7435,26653,14,2,44368
9,2011,중랑구,175115,428672,214258,214414,423706,212291,211415,4966,1967,2999,23175,18,2,43745
10,2011,성북구,199398,494422,243639,250783,485171,239726,245445,9251,3913,5338,20125,25,2,55213
11,2011,강북구,142527,348740,172309,176431,345054,170906,174148,3686,1403,2283,14780,24,2,43507
12,2011,도봉구,139348,367949,181911,186038,365573,181004,184569,2376,907,1469,17774,21,3,39810
13,2011,노원구,225104,608062,297308,310754,603930,295551,308379,4132,1757,2375,17160,35,3,58642
14,2011,은평구,197582,498350,244730,253620,493634,242779,250855,4716,1951,2765,16782,30,3,56595
15,2011,서대문구,134730,324529,158160,166369,314852,154033,160819,9677,4127,5550,18434,18,2,40041
16,2011,마포구,168640,398627,193539,205088,389493,189243,200250,9134,4296,4838,16720,24,2,42610
17,2011,양천구,182677,505605,251346,254259,500210,248927,251283,5395,2419,2976,29049,17,3,41110
18,2011,강서구,223490,575846,283662,292184,569072,280274,288798,6774,3388,3386,13901,41,3,52314
19,2011,구로구,171064,458908,232056,226852,427468,215474,211994,31440,16582,14858,22806,20,3,41992
20,2011,금천구,103600,264256,135604,128652,243438,124665,118773,20818,10939,9879,20326,13,2,25089
21,2011,영등포구,168850,439555,221913,217642,397443,199987,197456,42112,21926,20186,17892,25,2,43891
22,2011,동작구,167099,413658,203341,210317,401408,197672,203736,12250,5669,6581,25296,16,2,44287
23,2011,관악구,246979,546350,276675,269675,526397,267145,259252,19953,9530,10423,18478,30,2,53022
24,2011,서초구,168988,439012,212636,226376,433564,209902,223662,5448,2734,2714,9340,47,3,39035
25,2011,강남구,231983,573003,275906,297097,565710,271991,293719,7293,3915,3378,14501,40,2,47187
26,2011,송파구,261963,690466,338344,352122,682209,334494,347715,8257,3850,4407,20382,34,3,55456
27,2011,강동구,190392,500516,250260,250256,495138,247973,247165,5378,2287,3091,20359,25,3,42256
28,2012,합계,4177970,10442426,5159665,5282761,10195318,5041336,5153982,247108,118329,128779,17255,605,2,1110995
29,2012,종로구,75659,173148,85997,87151,165207,82274,82933,7941,3723,4218,7243,24,2,23868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2017,서초구,173594,445401,213422,231979,441102,211236,229866,4299,2186,2113,-,-,3,53205
181,2017,강남구,231612,561052,268941,292111,556164,266442,289722,4888,2499,2389,-,-,2,65060
182,2017,송파구,264628,671173,326407,344766,664496,323147,341349,6677,3260,3417,-,-,3,76582
183,2017,강동구,177407,440359,218699,221660,436223,216777,219446,4136,1922,2214,-,-,2,56161
184,2018,합계,4263868,10049607,4910849,5138758,9765623,4773899,4991724,283984,136950,147034,-,-,2,1416131
185,2018,종로구,73735,163026,79156,83870,153065,74825,78240,9961,4331,5630,-,-,2,26742
186,2018,중구,61502,135633,66674,68959,125725,61947,63778,9908,4727,5181,-,-,2,22005
187,2018,용산구,108974,245090,119766,125324,228999,110640,118359,16091,9126,6965,-,-,2,37640
188,2018,성동구,137209,316463,155091,161372,308221,151359,156862,8242,3732,4510,-,-,2,42767
189,2018,광진구,162606,371063,179527,191536,355559,172794,182765,15504,6733,8771,-,-,2,45619
190,2018,동대문구,161820,364338,179774,184564,348052,173567,174485,16286,6207,10079,-,-,2,57165
191,2018,중랑구,180511,408147,202448,205699,403209,200419,202790,4938,2029,2909,-,-,2,61830
192,2018,성북구,186601,447687,216495,231192,435868,211904,223964,11819,4591,7228,-,-,2,67782
193,2018,강북구,143395,322915,157522,165393,319164,156071,163093,3751,1451,2300,-,-,2,58196
194,2018,도봉구,138087,341649,167043,174606,339413,166160,173253,2236,883,1353,-,-,2,55964
195,2018,노원구,217655,548160,265870,282290,543752,263919,279833,4408,1951,2457,-,-,3,77096
196,2018,은평구,205001,487666,235600,252066,483197,233702,249495,4469,1898,2571,-,-,2,77420
197,2018,서대문구,138549,323080,153816,169264,310313,149569,160744,12767,4247,8520,-,-,2,50456
198,2018,마포구,172505,386359,182573,203786,375077,178240,196837,11282,4333,6949,-,-,2,50833
199,2018,양천구,176498,468145,230457,237688,464185,228634,235551,3960,1823,2137,-,-,3,58045
200,2018,강서구,258503,603611,293289,310322,596949,290079,306870,6662,3210,3452,-,-,2,79660
201,2018,구로구,172457,438486,219949,218537,404497,200417,204080,33989,19532,14457,-,-,2,61801
202,2018,금천구,107971,254021,130398,123623,233917,118915,115002,20104,11483,8621,-,-,2,35739
203,2018,영등포구,171085,403600,203319,200281,367778,183224,184554,35822,20095,15727,-,-,2,55673
204,2018,동작구,177176,409385,198458,210927,396203,192533,203670,13182,5925,7257,-,-,2,59479
205,2018,관악구,262222,520040,260742,259298,501957,252160,249797,18083,8582,9501,-,-,2,72249
206,2018,서초구,172918,438163,209977,228186,433951,207868,226083,4212,2109,2103,-,-,3,54751
207,2018,강남구,228775,547453,262203,285250,542364,259611,282753,5089,2592,2497,-,-,2,67085
208,2018,송파구,270866,673507,326849,346658,666635,323526,343109,6872,3323,3549,-,-,2,81364
209,2018,강동구,177247,431920,213853,218067,427573,211816,215757,4347,2037,2310,-,-,2,58770

In [467]:
# 데이터를 들여다 보니 컬럼쪽이 2개가 더 많이 나타났다. 헤더를 2번으로 지정하여 갯 수를 줄이겟다.
# 필요 없는 데이터는 로드 단계에서 걷어내겠다 -> 사전에 데이터를 보고 판단
s_pop = pd.read_excel('../data/Report.xls', encoding= 'utf-8', header=2,
                     usecols = 'A,B,D,G,J,P')
s_pop.head(2)

     기간  자치구         계       계.1     계.2  65세이상고령자
0  2011   합계  10528774  10249679  279095   1049425
1  2011  종로구    177419    168382    9037     22939

In [468]:
# 컬럼명을 의미있게 조정
# 계 ~ ..고령자 => 인구수, 한국인, 외국인, 고령자
dic = {
    s_pop.columns[2] :'인구수',
    s_pop.columns[3] : '한국인',
    s_pop.columns[4] : '외국인',
    s_pop.columns[5] : '고령자'
        
}
s_pop.rename(columns=dic, inplace=True)
s_pop.head(2)

     기간  자치구       인구수       한국인     외국인      고령자
0  2011   합계  10528774  10249679  279095  1049425
1  2011  종로구    177419    168382    9037    22939

## pandas 기초 학습

<a href ='http://localhost:8888/notebooks/Desktop/py_projects/analysis/pandas/basic/pandas%EA%B8%B0%EC%B4%88.ipynb'>이동하기</a>

## 데이터

In [469]:
s_cctv.head(2)

     자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

In [470]:
# 소계 컬럼을 중심으로 오름차순 정렬
s_cctv.sort_values( by='소계', ascending= True).head(4)   # head를 붙여 위에서 붙어 4개

      자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
9   도 봉 구   858     197.0   66.0    8.0    185     59    155    117     71
24  중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9
2   강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
22  종 로 구  1471       8.0    7.0  599.0    132    195    148    281    101

In [471]:
s_cctv.sort_values( by='소계', ascending= True).tail(4)    # tail을 붙임으로서 뒤에서 4번째부터 순 차례대로 출력

      자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
16  성 북 구  3003     779.0   84.0  304.0    241    279    388    285    643
6   구 로 구  3227     852.0  219.0  349.0    187    268    326    540    486
4   관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671
0   강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448

# 문제) 최신증가율 구하기

- 강남구, 구로구 지역은 상업지구가 많아서, 관악구나 성북구는 산을 타고 빌라촌이 많다.
- 이런 지역에는 인구 밀도가 비교적 높아서(예상) 혹은 유동인구가 많아서 CCTV가 많지 않나 예상이 된다.
- 도봉구, 중량구, 강북구 등은 주거지가 많아서 적어 보이고, 종로구는 보류
- 2011년도 이전 대비,향후 7년간 증가율 계산
- 7년 간 증가율 = (2012~2018: 합산)/2011년 * 100

In [472]:
s_cctv['최신증가율'] = ((s_cctv.loc[ '0':,'소계' ]-s_cctv.loc['0':,'2011년 이전'])/s_cctv.loc['0':,'2011년 이전'])*100
s_cctv.head(2)

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최신증가율
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,168.569959
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,520.132013

In [473]:
((s_cctv.loc[ '0':,'소계' ]-s_cctv.loc['0':,'2011년 이전'])/s_cctv.loc['0':,'2011년 이전'])*100

0       168.569959
1       520.132013
2       420.576132
3       638.356164
4       826.744186
5       236.382979
6       278.755869
7      5951.851852
8       296.257796
9       335.532995
10             NaN
11      647.899160
12      230.769231
13      275.398230
14      141.894198
15      302.857143
16      285.494223
17      164.333333
18      259.455959
19     1790.151515
20       61.297889
21      116.996337
22    18287.500000
23     6076.000000
24             NaN
dtype: float64

In [474]:
# s_cctv.drop(['7년간증가율'],inplace= True,axis=1)

In [475]:
s_cctv

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최신증가율
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,168.569959
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,520.132013
2,강 북 구,1265,243.0,88.0,141.0,74,145,254,1,319,420.576132
3,강 서 구,1617,219.0,155.0,118.0,230,187,190,264,254,638.356164
4,관 악 구,3985,430.0,56.0,419.0,487,609,619,694,671,826.744186
5,광 진 구,1581,470.0,42.0,83.0,87,64,21,468,346,236.382979
6,구 로 구,3227,852.0,219.0,349.0,187,268,326,540,486,278.755869
7,금 천 구,1634,27.0,17.0,242.0,101,382,136,199,530,5951.851852
8,노 원 구,1906,481.0,117.0,203.0,80,461,298,110,156,296.257796
9,도 봉 구,858,197.0,66.0,8.0,185,59,155,117,71,335.532995
10,동대문구,2003,NaN,NaN,NaN,1326,111,233,136,197,NaN
11,동 작 구,1780,238.0,93.0,29.0,503,130,254,278,255,647.899160
12,마 포 구,1935,585.0,108.0,69.0,70,177,359,372,195,230.769231
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,275.398230
14,서 초 구,2835,1172.0,91.0,228.0,134,215,352,247,396,141.894198
15,성 동 구,2679,665.0,109.0,118.0,101,258,201,933,294,302.857143
16,성 북 구,3003,779.0,84.0,304.0,241,279,388,285,643,285.494223
17,송 파 구,1586,600.0,99.0,88.0,21,166,100,116,396,164.333333
18,양 천 구,2775,772.0,161.0,185.0,169,172,349,137,830,259.455959
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,1790.151515
20,용 산 구,2063,1279.0,152.0,201.0,107,102,89,60,73,61.297889
21,은 평 구,2962,1365.0,83.0,99.0,343,180,296,229,367,116.996337
22,종 로 구,1471,8.0,7.0,599.0,132,195,148,281,101,18287.500000
23,중 구,1544,25.0,165.0,114.0,80,245,270,317,328,6076.000000
24,중 랑 구,1068,NaN,NaN,NaN,770,102,121,66,9,NaN

In [476]:
# 1) 단순히하기
tmp_sum = s_cctv['2012년']+s_cctv['2013년']+s_cctv['2014년']+s_cctv['2015년']+s_cctv['2016년']+s_cctv['2017년']+s_cctv['2018년']
tmp_sum

0     3277.0
1     1576.0
2     1022.0
3     1398.0
4     3555.0
5     1111.0
6     2375.0
7     1607.0
8     1425.0
9      661.0
10       NaN
11    1542.0
12    1350.0
13    1556.0
14    1663.0
15    2014.0
16    2224.0
17     986.0
18    2003.0
19    2363.0
20     784.0
21    1597.0
22    1463.0
23    1519.0
24       NaN
dtype: float64

In [477]:
tmp_sum / s_cctv['2011년 이전'] * 100

0       168.569959
1       520.132013
2       420.576132
3       638.356164
4       826.744186
5       236.382979
6       278.755869
7      5951.851852
8       296.257796
9       335.532995
10             NaN
11      647.899160
12      230.769231
13      275.398230
14      141.894198
15      302.857143
16      285.494223
17      164.333333
18      259.455959
19     1790.151515
20       61.297889
21      116.996337
22    18287.500000
23     6076.000000
24             NaN
dtype: float64

In [478]:
s_cctv.sort_values('최신증가율')

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최신증가율
20,용 산 구,2063,1279.0,152.0,201.0,107,102,89,60,73,61.297889
21,은 평 구,2962,1365.0,83.0,99.0,343,180,296,229,367,116.996337
14,서 초 구,2835,1172.0,91.0,228.0,134,215,352,247,396,141.894198
17,송 파 구,1586,600.0,99.0,88.0,21,166,100,116,396,164.333333
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,168.569959
12,마 포 구,1935,585.0,108.0,69.0,70,177,359,372,195,230.769231
5,광 진 구,1581,470.0,42.0,83.0,87,64,21,468,346,236.382979
18,양 천 구,2775,772.0,161.0,185.0,169,172,349,137,830,259.455959
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,275.398230
6,구 로 구,3227,852.0,219.0,349.0,187,268,326,540,486,278.755869
16,성 북 구,3003,779.0,84.0,304.0,241,279,388,285,643,285.494223
8,노 원 구,1906,481.0,117.0,203.0,80,461,298,110,156,296.257796
15,성 동 구,2679,665.0,109.0,118.0,101,258,201,933,294,302.857143
9,도 봉 구,858,197.0,66.0,8.0,185,59,155,117,71,335.532995
2,강 북 구,1265,243.0,88.0,141.0,74,145,254,1,319,420.576132
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,520.132013
3,강 서 구,1617,219.0,155.0,118.0,230,187,190,264,254,638.356164
11,동 작 구,1780,238.0,93.0,29.0,503,130,254,278,255,647.899160
4,관 악 구,3985,430.0,56.0,419.0,487,609,619,694,671,826.744186
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,1790.151515
7,금 천 구,1634,27.0,17.0,242.0,101,382,136,199,530,5951.851852
23,중 구,1544,25.0,165.0,114.0,80,245,270,317,328,6076.000000
22,종 로 구,1471,8.0,7.0,599.0,132,195,148,281,101,18287.500000
10,동대문구,2003,NaN,NaN,NaN,1326,111,233,136,197,NaN
24,중 랑 구,1068,NaN,NaN,NaN,770,102,121,66,9,NaN

- 결측치(Nan)가 이미 존재했던 중량구, 동대문구에 대한 조치 필요
> 결측치를 0으로 처리하는방안  
> 최초 데이터가 존재하는 년도까지 기준점으로 잡고 가는 방향  
> 최초 데이터에 대한 의구심을 가지고 다시 데이터를 수집 하는 방향

- 종로구는 초기 데이터가 워낙 작아서 증가율이 너무 크게 나온다.
> 특정 구간까지는 -년도 이전으로 묶어주는 것이 나을 듯 하다.  

- 공공데이터 자료 검토 결과 2018년도와 2019년도 자료가 상이하다.
- Nan 처리 -> 0으로 진행
- 원래는 자료 제공기관에 문의하여 확인과정이 필요하나, 절차상 생략하고 2019년도 자료에서 2011이전~2012,2013,2014까지를 합산하여 새로운 컬럼 2014년도 이전을 생성
- 필요없는 자료는 제거
- 2014년도 이전 자료 대비 2015~2018 최신증가율*(4년간)이라는 항목으로 추가

In [479]:
#원래는 자료 제공기관에 문의하여 확인과정이 필요하나, 절차상 생략하고 2019년도 자료에서 2011이전~2012,2013,2014까지를 합산하여 새로운 컬럼 2014년도 이전을 생성
s_cctv['2014년 이전'] = s_cctv['2011년 이전'] + s_cctv['2012년'] + s_cctv['2013년'] + s_cctv['2014년']

In [480]:
s_cctv

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최신증가율,2014년 이전
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,168.569959,2885.0
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,520.132013,883.0
2,강 북 구,1265,243.0,88.0,141.0,74,145,254,1,319,420.576132,546.0
3,강 서 구,1617,219.0,155.0,118.0,230,187,190,264,254,638.356164,722.0
4,관 악 구,3985,430.0,56.0,419.0,487,609,619,694,671,826.744186,1392.0
5,광 진 구,1581,470.0,42.0,83.0,87,64,21,468,346,236.382979,682.0
6,구 로 구,3227,852.0,219.0,349.0,187,268,326,540,486,278.755869,1607.0
7,금 천 구,1634,27.0,17.0,242.0,101,382,136,199,530,5951.851852,387.0
8,노 원 구,1906,481.0,117.0,203.0,80,461,298,110,156,296.257796,881.0
9,도 봉 구,858,197.0,66.0,8.0,185,59,155,117,71,335.532995,456.0
10,동대문구,2003,NaN,NaN,NaN,1326,111,233,136,197,NaN,NaN
11,동 작 구,1780,238.0,93.0,29.0,503,130,254,278,255,647.899160,863.0
12,마 포 구,1935,585.0,108.0,69.0,70,177,359,372,195,230.769231,832.0
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,275.398230,1126.0
14,서 초 구,2835,1172.0,91.0,228.0,134,215,352,247,396,141.894198,1625.0
15,성 동 구,2679,665.0,109.0,118.0,101,258,201,933,294,302.857143,993.0
16,성 북 구,3003,779.0,84.0,304.0,241,279,388,285,643,285.494223,1408.0
17,송 파 구,1586,600.0,99.0,88.0,21,166,100,116,396,164.333333,808.0
18,양 천 구,2775,772.0,161.0,185.0,169,172,349,137,830,259.455959,1287.0
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,1790.151515,676.0
20,용 산 구,2063,1279.0,152.0,201.0,107,102,89,60,73,61.297889,1739.0
21,은 평 구,2962,1365.0,83.0,99.0,343,180,296,229,367,116.996337,1890.0
22,종 로 구,1471,8.0,7.0,599.0,132,195,148,281,101,18287.500000,746.0
23,중 구,1544,25.0,165.0,114.0,80,245,270,317,328,6076.000000,384.0
24,중 랑 구,1068,NaN,NaN,NaN,770,102,121,66,9,NaN,NaN

###  nan 처리 => 결측치 처리
- 결측값 채우기
 > 1. 특정값
 > 2. 앞방향으로 채우기 -> 시계열에서활용
 > 3. 뒷방향으로 채우기 -> 시계열에서활용
 > 4. 채우는 횟수 제한

- 결측값 대체하기
 > 변수별 평균으로 대체

- 결측값 처리
 > 다른 변수의 값으로 대체
 
- 결측값 제거
 > 아래 코드 참조(isnull 검사후 => 블리언인덱싱이용 => 원데이터에 대상 index를 획득)  
 > any()로 검사 후 참이면 해당 인덱스에 일치되는 데이터를 제거( 여기선 if문으로 돌려 없앰)

In [481]:
s_cctv.fillna(0)

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최신증가율,2014년 이전
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,168.569959,2885.0
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,520.132013,883.0
2,강 북 구,1265,243.0,88.0,141.0,74,145,254,1,319,420.576132,546.0
3,강 서 구,1617,219.0,155.0,118.0,230,187,190,264,254,638.356164,722.0
4,관 악 구,3985,430.0,56.0,419.0,487,609,619,694,671,826.744186,1392.0
5,광 진 구,1581,470.0,42.0,83.0,87,64,21,468,346,236.382979,682.0
6,구 로 구,3227,852.0,219.0,349.0,187,268,326,540,486,278.755869,1607.0
7,금 천 구,1634,27.0,17.0,242.0,101,382,136,199,530,5951.851852,387.0
8,노 원 구,1906,481.0,117.0,203.0,80,461,298,110,156,296.257796,881.0
9,도 봉 구,858,197.0,66.0,8.0,185,59,155,117,71,335.532995,456.0
10,동대문구,2003,0.0,0.0,0.0,1326,111,233,136,197,0.000000,0.0
11,동 작 구,1780,238.0,93.0,29.0,503,130,254,278,255,647.899160,863.0
12,마 포 구,1935,585.0,108.0,69.0,70,177,359,372,195,230.769231,832.0
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,275.398230,1126.0
14,서 초 구,2835,1172.0,91.0,228.0,134,215,352,247,396,141.894198,1625.0
15,성 동 구,2679,665.0,109.0,118.0,101,258,201,933,294,302.857143,993.0
16,성 북 구,3003,779.0,84.0,304.0,241,279,388,285,643,285.494223,1408.0
17,송 파 구,1586,600.0,99.0,88.0,21,166,100,116,396,164.333333,808.0
18,양 천 구,2775,772.0,161.0,185.0,169,172,349,137,830,259.455959,1287.0
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,1790.151515,676.0
20,용 산 구,2063,1279.0,152.0,201.0,107,102,89,60,73,61.297889,1739.0
21,은 평 구,2962,1365.0,83.0,99.0,343,180,296,229,367,116.996337,1890.0
22,종 로 구,1471,8.0,7.0,599.0,132,195,148,281,101,18287.500000,746.0
23,중 구,1544,25.0,165.0,114.0,80,245,270,317,328,6076.000000,384.0
24,중 랑 구,1068,0.0,0.0,0.0,770,102,121,66,9,0.000000,0.0

In [482]:
((s_cctv['소계']-s_cctv['2014년 이전'])/s_cctv['2014년 이전'])*100

0      80.970537
1     112.797282
2     131.684982
3     123.961219
4     186.278736
5     131.818182
6     100.808961
7     322.222222
8     116.345062
9      88.157895
10           NaN
11    106.257242
12    132.572115
13     88.365897
14     74.461538
15    169.788520
16    113.281250
17     96.287129
18    115.617716
19    269.082840
20     18.631397
21     56.719577
22     97.184987
23    302.083333
24           NaN
dtype: float64

In [483]:
try:
    # 제거
    s_cctv.drop(['최신증가율'],inplace= True,axis=1)
    print( s_cctv.head(2))
except Exception as e:
    pass

     자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년  \
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

   2014년 이전
0    2885.0
1     883.0

In [484]:
s_cctv['최신증가율'] = ((s_cctv['소계']-s_cctv['2014년 이전'])/s_cctv['2014년 이전'])*100
s_cctv.fillna(0)

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2014년 이전,최신증가율
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,2885.0,80.970537
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,883.0,112.797282
2,강 북 구,1265,243.0,88.0,141.0,74,145,254,1,319,546.0,131.684982
3,강 서 구,1617,219.0,155.0,118.0,230,187,190,264,254,722.0,123.961219
4,관 악 구,3985,430.0,56.0,419.0,487,609,619,694,671,1392.0,186.278736
5,광 진 구,1581,470.0,42.0,83.0,87,64,21,468,346,682.0,131.818182
6,구 로 구,3227,852.0,219.0,349.0,187,268,326,540,486,1607.0,100.808961
7,금 천 구,1634,27.0,17.0,242.0,101,382,136,199,530,387.0,322.222222
8,노 원 구,1906,481.0,117.0,203.0,80,461,298,110,156,881.0,116.345062
9,도 봉 구,858,197.0,66.0,8.0,185,59,155,117,71,456.0,88.157895
10,동대문구,2003,0.0,0.0,0.0,1326,111,233,136,197,0.0,0.000000
11,동 작 구,1780,238.0,93.0,29.0,503,130,254,278,255,863.0,106.257242
12,마 포 구,1935,585.0,108.0,69.0,70,177,359,372,195,832.0,132.572115
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,1126.0,88.365897
14,서 초 구,2835,1172.0,91.0,228.0,134,215,352,247,396,1625.0,74.461538
15,성 동 구,2679,665.0,109.0,118.0,101,258,201,933,294,993.0,169.788520
16,성 북 구,3003,779.0,84.0,304.0,241,279,388,285,643,1408.0,113.281250
17,송 파 구,1586,600.0,99.0,88.0,21,166,100,116,396,808.0,96.287129
18,양 천 구,2775,772.0,161.0,185.0,169,172,349,137,830,1287.0,115.617716
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,676.0,269.082840
20,용 산 구,2063,1279.0,152.0,201.0,107,102,89,60,73,1739.0,18.631397
21,은 평 구,2962,1365.0,83.0,99.0,343,180,296,229,367,1890.0,56.719577
22,종 로 구,1471,8.0,7.0,599.0,132,195,148,281,101,746.0,97.184987
23,중 구,1544,25.0,165.0,114.0,80,245,270,317,328,384.0,302.083333
24,중 랑 구,1068,0.0,0.0,0.0,770,102,121,66,9,0.0,0.000000

In [485]:
s_cctv

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2014년 이전,최신증가율
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,2885.0,80.970537
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,883.0,112.797282
2,강 북 구,1265,243.0,88.0,141.0,74,145,254,1,319,546.0,131.684982
3,강 서 구,1617,219.0,155.0,118.0,230,187,190,264,254,722.0,123.961219
4,관 악 구,3985,430.0,56.0,419.0,487,609,619,694,671,1392.0,186.278736
5,광 진 구,1581,470.0,42.0,83.0,87,64,21,468,346,682.0,131.818182
6,구 로 구,3227,852.0,219.0,349.0,187,268,326,540,486,1607.0,100.808961
7,금 천 구,1634,27.0,17.0,242.0,101,382,136,199,530,387.0,322.222222
8,노 원 구,1906,481.0,117.0,203.0,80,461,298,110,156,881.0,116.345062
9,도 봉 구,858,197.0,66.0,8.0,185,59,155,117,71,456.0,88.157895
10,동대문구,2003,NaN,NaN,NaN,1326,111,233,136,197,NaN,NaN
11,동 작 구,1780,238.0,93.0,29.0,503,130,254,278,255,863.0,106.257242
12,마 포 구,1935,585.0,108.0,69.0,70,177,359,372,195,832.0,132.572115
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,1126.0,88.365897
14,서 초 구,2835,1172.0,91.0,228.0,134,215,352,247,396,1625.0,74.461538
15,성 동 구,2679,665.0,109.0,118.0,101,258,201,933,294,993.0,169.788520
16,성 북 구,3003,779.0,84.0,304.0,241,279,388,285,643,1408.0,113.281250
17,송 파 구,1586,600.0,99.0,88.0,21,166,100,116,396,808.0,96.287129
18,양 천 구,2775,772.0,161.0,185.0,169,172,349,137,830,1287.0,115.617716
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,676.0,269.082840
20,용 산 구,2063,1279.0,152.0,201.0,107,102,89,60,73,1739.0,18.631397
21,은 평 구,2962,1365.0,83.0,99.0,343,180,296,229,367,1890.0,56.719577
22,종 로 구,1471,8.0,7.0,599.0,132,195,148,281,101,746.0,97.184987
23,중 구,1544,25.0,165.0,114.0,80,245,270,317,328,384.0,302.083333
24,중 랑 구,1068,NaN,NaN,NaN,770,102,121,66,9,NaN,NaN

### 강사님 방법

In [486]:
# 2011sus~2014년 추출

# 1)
tmp = s_cctv.iloc[:,[2,3,4,5]]
tmp

#) 2) 같은 방법
# s_cctv['2011년 이전'] + s_cctv['2012년 이전'] + s_cctv['203\1년']+... +s_cctv['2014년']

    2011년 이전  2012년  2013년  2014년
0     1944.0  195.0  316.0    430
1      303.0  387.0  134.0     59
2      243.0   88.0  141.0     74
3      219.0  155.0  118.0    230
4      430.0   56.0  419.0    487
5      470.0   42.0   83.0     87
6      852.0  219.0  349.0    187
7       27.0   17.0  242.0    101
8      481.0  117.0  203.0     80
9      197.0   66.0    8.0    185
10       NaN    NaN    NaN   1326
11     238.0   93.0   29.0    503
12     585.0  108.0   69.0     70
13     565.0  233.0  214.0    114
14    1172.0   91.0  228.0    134
15     665.0  109.0  118.0    101
16     779.0   84.0  304.0    241
17     600.0   99.0   88.0     21
18     772.0  161.0  185.0    169
19     132.0  121.0  206.0    217
20    1279.0  152.0  201.0    107
21    1365.0   83.0   99.0    343
22       8.0    7.0  599.0    132
23      25.0  165.0  114.0     80
24       NaN    NaN    NaN    770

In [487]:
tmp.sum(axis=1)

0     2885.0
1      883.0
2      546.0
3      722.0
4     1392.0
5      682.0
6     1607.0
7      387.0
8      881.0
9      456.0
10    1326.0
11     863.0
12     832.0
13    1126.0
14    1625.0
15     993.0
16    1408.0
17     808.0
18    1287.0
19     676.0
20    1739.0
21    1890.0
22     746.0
23     384.0
24     770.0
dtype: float64

In [488]:
s_cctv.sort_values('최신증가율')

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2014년 이전,최신증가율
20,용 산 구,2063,1279.0,152.0,201.0,107,102,89,60,73,1739.0,18.631397
21,은 평 구,2962,1365.0,83.0,99.0,343,180,296,229,367,1890.0,56.719577
14,서 초 구,2835,1172.0,91.0,228.0,134,215,352,247,396,1625.0,74.461538
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,2885.0,80.970537
9,도 봉 구,858,197.0,66.0,8.0,185,59,155,117,71,456.0,88.157895
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,1126.0,88.365897
17,송 파 구,1586,600.0,99.0,88.0,21,166,100,116,396,808.0,96.287129
22,종 로 구,1471,8.0,7.0,599.0,132,195,148,281,101,746.0,97.184987
6,구 로 구,3227,852.0,219.0,349.0,187,268,326,540,486,1607.0,100.808961
11,동 작 구,1780,238.0,93.0,29.0,503,130,254,278,255,863.0,106.257242
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,883.0,112.797282
16,성 북 구,3003,779.0,84.0,304.0,241,279,388,285,643,1408.0,113.281250
18,양 천 구,2775,772.0,161.0,185.0,169,172,349,137,830,1287.0,115.617716
8,노 원 구,1906,481.0,117.0,203.0,80,461,298,110,156,881.0,116.345062
3,강 서 구,1617,219.0,155.0,118.0,230,187,190,264,254,722.0,123.961219
2,강 북 구,1265,243.0,88.0,141.0,74,145,254,1,319,546.0,131.684982
5,광 진 구,1581,470.0,42.0,83.0,87,64,21,468,346,682.0,131.818182
12,마 포 구,1935,585.0,108.0,69.0,70,177,359,372,195,832.0,132.572115
15,성 동 구,2679,665.0,109.0,118.0,101,258,201,933,294,993.0,169.788520
4,관 악 구,3985,430.0,56.0,419.0,487,609,619,694,671,1392.0,186.278736
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,676.0,269.082840
23,중 구,1544,25.0,165.0,114.0,80,245,270,317,328,384.0,302.083333
7,금 천 구,1634,27.0,17.0,242.0,101,382,136,199,530,387.0,322.222222
10,동대문구,2003,NaN,NaN,NaN,1326,111,233,136,197,NaN,NaN
24,중 랑 구,1068,NaN,NaN,NaN,770,102,121,66,9,NaN,NaN

In [489]:
rm_cols = s_cctv.columns[2:6]

In [490]:
rm_cols

Index(['2011년 이전', '2012년', '2013년', '2014년'], dtype='object')

In [491]:
s_cctv.fillna(0)

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2014년 이전,최신증가율
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,2885.0,80.970537
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,883.0,112.797282
2,강 북 구,1265,243.0,88.0,141.0,74,145,254,1,319,546.0,131.684982
3,강 서 구,1617,219.0,155.0,118.0,230,187,190,264,254,722.0,123.961219
4,관 악 구,3985,430.0,56.0,419.0,487,609,619,694,671,1392.0,186.278736
5,광 진 구,1581,470.0,42.0,83.0,87,64,21,468,346,682.0,131.818182
6,구 로 구,3227,852.0,219.0,349.0,187,268,326,540,486,1607.0,100.808961
7,금 천 구,1634,27.0,17.0,242.0,101,382,136,199,530,387.0,322.222222
8,노 원 구,1906,481.0,117.0,203.0,80,461,298,110,156,881.0,116.345062
9,도 봉 구,858,197.0,66.0,8.0,185,59,155,117,71,456.0,88.157895
10,동대문구,2003,0.0,0.0,0.0,1326,111,233,136,197,0.0,0.000000
11,동 작 구,1780,238.0,93.0,29.0,503,130,254,278,255,863.0,106.257242
12,마 포 구,1935,585.0,108.0,69.0,70,177,359,372,195,832.0,132.572115
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,1126.0,88.365897
14,서 초 구,2835,1172.0,91.0,228.0,134,215,352,247,396,1625.0,74.461538
15,성 동 구,2679,665.0,109.0,118.0,101,258,201,933,294,993.0,169.788520
16,성 북 구,3003,779.0,84.0,304.0,241,279,388,285,643,1408.0,113.281250
17,송 파 구,1586,600.0,99.0,88.0,21,166,100,116,396,808.0,96.287129
18,양 천 구,2775,772.0,161.0,185.0,169,172,349,137,830,1287.0,115.617716
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,676.0,269.082840
20,용 산 구,2063,1279.0,152.0,201.0,107,102,89,60,73,1739.0,18.631397
21,은 평 구,2962,1365.0,83.0,99.0,343,180,296,229,367,1890.0,56.719577
22,종 로 구,1471,8.0,7.0,599.0,132,195,148,281,101,746.0,97.184987
23,중 구,1544,25.0,165.0,114.0,80,245,270,317,328,384.0,302.083333
24,중 랑 구,1068,0.0,0.0,0.0,770,102,121,66,9,0.0,0.000000

In [492]:
s_cctv = s_cctv.fillna(0)

In [493]:
s_cctv.head(2)

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2014년 이전,최신증가율
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,2885.0,80.970537
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,883.0,112.797282

In [494]:
# #강사님 방식
# # 최신증가율을 다시 계산해서 세팅
# tmp = s_cctv.iloc[ :, [2,3,4,5]  ].sum(axis=1)
# s_cctv[ '최신증가율' ] = tmp / s_cctv[ '2014년도 이전' ] * 100
# # 펜시 인덱싱을 통함 컬럼 재배치 후 사본 리턴
# s_cctv = s_cctv.iloc[ :, [0,1,7,2,3,4,5,6] ]
# s_cctv

## 인구 현황 분석

In [495]:
s_pop

       기간   자치구       인구수       한국인     외국인      고령자
0    2011    합계  10528774  10249679  279095  1049425
1    2011   종로구    177419    168382    9037    22939
2    2011    중구    141567    133193    8374    18099
3    2011   용산구    259288    246501   12787    31837
4    2011   성동구    308767    300711    8056    32767
5    2011   광진구    386673    371936   14737    33613
6    2011  동대문구    378534    365486   13048    44368
7    2011   중랑구    428672    423706    4966    43745
8    2011   성북구    494422    485171    9251    55213
9    2011   강북구    348740    345054    3686    43507
10   2011   도봉구    367949    365573    2376    39810
11   2011   노원구    608062    603930    4132    58642
12   2011   은평구    498350    493634    4716    56595
13   2011  서대문구    324529    314852    9677    40041
14   2011   마포구    398627    389493    9134    42610
15   2011   양천구    505605    500210    5395    41110
16   2011   강서구    575846    569072    6774    52314
17   2011   구로구    458908    427468   31440    41992
18   2011   금천구    264256    243438   20818    25089
19   2011  영등포구    439555    397443   42112    43891
20   2011   동작구    413658    401408   12250    44287
21   2011   관악구    546350    526397   19953    53022
22   2011   서초구    439012    433564    5448    39035
23   2011   강남구    573003    565710    7293    47187
24   2011   송파구    690466    682209    8257    55456
25   2011   강동구    500516    495138    5378    42256
26   2012    합계  10442426  10195318  247108  1110995
27   2012   종로구    173148    165207    7941    23868
28   2012    중구    140807    133360    7447    18875
29   2012   용산구    255294    243232   12062    33027
..    ...   ...       ...       ...     ...      ...
178  2017   서초구    445401    441102    4299    53205
179  2017   강남구    561052    556164    4888    65060
180  2017   송파구    671173    664496    6677    76582
181  2017   강동구    440359    436223    4136    56161
182  2018    합계  10049607   9765623  283984  1416131
183  2018   종로구    163026    153065    9961    26742
184  2018    중구    135633    125725    9908    22005
185  2018   용산구    245090    228999   16091    37640
186  2018   성동구    316463    308221    8242    42767
187  2018   광진구    371063    355559   15504    45619
188  2018  동대문구    364338    348052   16286    57165
189  2018   중랑구    408147    403209    4938    61830
190  2018   성북구    447687    435868   11819    67782
191  2018   강북구    322915    319164    3751    58196
192  2018   도봉구    341649    339413    2236    55964
193  2018   노원구    548160    543752    4408    77096
194  2018   은평구    487666    483197    4469    77420
195  2018  서대문구    323080    310313   12767    50456
196  2018   마포구    386359    375077   11282    50833
197  2018   양천구    468145    464185    3960    58045
198  2018   강서구    603611    596949    6662    79660
199  2018   구로구    438486    404497   33989    61801
200  2018   금천구    254021    233917   20104    35739
201  2018  영등포구    403600    367778   35822    55673
202  2018   동작구    409385    396203   13182    59479
203  2018   관악구    520040    501957   18083    72249
204  2018   서초구    438163    433951    4212    54751
205  2018   강남구    547453    542364    5089    67085
206  2018   송파구    673507    666635    6872    81364
207  2018   강동구    431920    427573    4347    58770

[208 rows x 6 columns]

In [496]:
# s_pop에서 기간이 2014~2018년도 까지만 추출해라

In [497]:
    # 내가한거
s_pop.iloc[78:,:]

       기간   자치구       인구수       한국인     외국인      고령자
78   2014    합계  10369593  10103233  266360  1221616
79   2014   종로구    165344    156993    8351    24537
80   2014    중구    136227    128065    8162    19960
81   2014   용산구    249914    235951   13963    34896
82   2014   성동구    303891    296086    7805    36684
83   2014   광진구    377375    363354   14021    38974
84   2014  동대문구    376319    363687   12632    50915
85   2014   중랑구    423411    418836    4575    51995
86   2014   성북구    475961    466706    9255    62066
87   2014   강북구    338410    335025    3385    50841
88   2014   도봉구    355712    353709    2003    46471
89   2014   노원구    586056    582552    3504    66480
90   2014   은평구    503243    498644    4599    67002
91   2014  서대문구    320861    310376   10485    45309
92   2014   마포구    395830    385439   10391    47360
93   2014   양천구    490708    486221    4487    48175
94   2014   강서구    591653    585160    6493    64287
95   2014   구로구    457131    425831   31300    51187
96   2014   금천구    258030    238463   19567    29553
97   2014  영등포구    421436    382352   39084    49829
98   2014   동작구    419261    407470   11791    52327
99   2014   관악구    531960    513186   18774    62577
100  2014   서초구    454288    449678    4610    47469
101  2014   강남구    583446    578114    5332    57444
102  2014   송파구    671794    664738    7056    65025
103  2014   강동구    481332    476597    4735    50253
104  2015    합계  10297138  10022181  274957  1267563
105  2015   종로구    163822    154986    8836    24892
106  2015    중구    134329    125733    8596    20302
107  2015   용산구    247909    233342   14567    35715
..    ...   ...       ...       ...     ...      ...
178  2017   서초구    445401    441102    4299    53205
179  2017   강남구    561052    556164    4888    65060
180  2017   송파구    671173    664496    6677    76582
181  2017   강동구    440359    436223    4136    56161
182  2018    합계  10049607   9765623  283984  1416131
183  2018   종로구    163026    153065    9961    26742
184  2018    중구    135633    125725    9908    22005
185  2018   용산구    245090    228999   16091    37640
186  2018   성동구    316463    308221    8242    42767
187  2018   광진구    371063    355559   15504    45619
188  2018  동대문구    364338    348052   16286    57165
189  2018   중랑구    408147    403209    4938    61830
190  2018   성북구    447687    435868   11819    67782
191  2018   강북구    322915    319164    3751    58196
192  2018   도봉구    341649    339413    2236    55964
193  2018   노원구    548160    543752    4408    77096
194  2018   은평구    487666    483197    4469    77420
195  2018  서대문구    323080    310313   12767    50456
196  2018   마포구    386359    375077   11282    50833
197  2018   양천구    468145    464185    3960    58045
198  2018   강서구    603611    596949    6662    79660
199  2018   구로구    438486    404497   33989    61801
200  2018   금천구    254021    233917   20104    35739
201  2018  영등포구    403600    367778   35822    55673
202  2018   동작구    409385    396203   13182    59479
203  2018   관악구    520040    501957   18083    72249
204  2018   서초구    438163    433951    4212    54751
205  2018   강남구    547453    542364    5089    67085
206  2018   송파구    673507    666635    6872    81364
207  2018   강동구    431920    427573    4347    58770

[130 rows x 6 columns]

In [498]:
s_pop.dtypes

기간      int64
자치구    object
인구수     int64
한국인     int64
외국인     int64
고령자     int64
dtype: object

In [499]:
    # 강사님
s_pop[ s_pop.기간 >= 2014 ]

       기간   자치구       인구수       한국인     외국인      고령자
78   2014    합계  10369593  10103233  266360  1221616
79   2014   종로구    165344    156993    8351    24537
80   2014    중구    136227    128065    8162    19960
81   2014   용산구    249914    235951   13963    34896
82   2014   성동구    303891    296086    7805    36684
83   2014   광진구    377375    363354   14021    38974
84   2014  동대문구    376319    363687   12632    50915
85   2014   중랑구    423411    418836    4575    51995
86   2014   성북구    475961    466706    9255    62066
87   2014   강북구    338410    335025    3385    50841
88   2014   도봉구    355712    353709    2003    46471
89   2014   노원구    586056    582552    3504    66480
90   2014   은평구    503243    498644    4599    67002
91   2014  서대문구    320861    310376   10485    45309
92   2014   마포구    395830    385439   10391    47360
93   2014   양천구    490708    486221    4487    48175
94   2014   강서구    591653    585160    6493    64287
95   2014   구로구    457131    425831   31300    51187
96   2014   금천구    258030    238463   19567    29553
97   2014  영등포구    421436    382352   39084    49829
98   2014   동작구    419261    407470   11791    52327
99   2014   관악구    531960    513186   18774    62577
100  2014   서초구    454288    449678    4610    47469
101  2014   강남구    583446    578114    5332    57444
102  2014   송파구    671794    664738    7056    65025
103  2014   강동구    481332    476597    4735    50253
104  2015    합계  10297138  10022181  274957  1267563
105  2015   종로구    163822    154986    8836    24892
106  2015    중구    134329    125733    8596    20302
107  2015   용산구    247909    233342   14567    35715
..    ...   ...       ...       ...     ...      ...
178  2017   서초구    445401    441102    4299    53205
179  2017   강남구    561052    556164    4888    65060
180  2017   송파구    671173    664496    6677    76582
181  2017   강동구    440359    436223    4136    56161
182  2018    합계  10049607   9765623  283984  1416131
183  2018   종로구    163026    153065    9961    26742
184  2018    중구    135633    125725    9908    22005
185  2018   용산구    245090    228999   16091    37640
186  2018   성동구    316463    308221    8242    42767
187  2018   광진구    371063    355559   15504    45619
188  2018  동대문구    364338    348052   16286    57165
189  2018   중랑구    408147    403209    4938    61830
190  2018   성북구    447687    435868   11819    67782
191  2018   강북구    322915    319164    3751    58196
192  2018   도봉구    341649    339413    2236    55964
193  2018   노원구    548160    543752    4408    77096
194  2018   은평구    487666    483197    4469    77420
195  2018  서대문구    323080    310313   12767    50456
196  2018   마포구    386359    375077   11282    50833
197  2018   양천구    468145    464185    3960    58045
198  2018   강서구    603611    596949    6662    79660
199  2018   구로구    438486    404497   33989    61801
200  2018   금천구    254021    233917   20104    35739
201  2018  영등포구    403600    367778   35822    55673
202  2018   동작구    409385    396203   13182    59479
203  2018   관악구    520040    501957   18083    72249
204  2018   서초구    438163    433951    4212    54751
205  2018   강남구    547453    542364    5089    67085
206  2018   송파구    673507    666635    6872    81364
207  2018   강동구    431920    427573    4347    58770

[130 rows x 6 columns]

In [500]:
s_pop_last = s_pop[ s_pop.기간 >= 2014 ]
s_pop_last

       기간   자치구       인구수       한국인     외국인      고령자
78   2014    합계  10369593  10103233  266360  1221616
79   2014   종로구    165344    156993    8351    24537
80   2014    중구    136227    128065    8162    19960
81   2014   용산구    249914    235951   13963    34896
82   2014   성동구    303891    296086    7805    36684
83   2014   광진구    377375    363354   14021    38974
84   2014  동대문구    376319    363687   12632    50915
85   2014   중랑구    423411    418836    4575    51995
86   2014   성북구    475961    466706    9255    62066
87   2014   강북구    338410    335025    3385    50841
88   2014   도봉구    355712    353709    2003    46471
89   2014   노원구    586056    582552    3504    66480
90   2014   은평구    503243    498644    4599    67002
91   2014  서대문구    320861    310376   10485    45309
92   2014   마포구    395830    385439   10391    47360
93   2014   양천구    490708    486221    4487    48175
94   2014   강서구    591653    585160    6493    64287
95   2014   구로구    457131    425831   31300    51187
96   2014   금천구    258030    238463   19567    29553
97   2014  영등포구    421436    382352   39084    49829
98   2014   동작구    419261    407470   11791    52327
99   2014   관악구    531960    513186   18774    62577
100  2014   서초구    454288    449678    4610    47469
101  2014   강남구    583446    578114    5332    57444
102  2014   송파구    671794    664738    7056    65025
103  2014   강동구    481332    476597    4735    50253
104  2015    합계  10297138  10022181  274957  1267563
105  2015   종로구    163822    154986    8836    24892
106  2015    중구    134329    125733    8596    20302
107  2015   용산구    247909    233342   14567    35715
..    ...   ...       ...       ...     ...      ...
178  2017   서초구    445401    441102    4299    53205
179  2017   강남구    561052    556164    4888    65060
180  2017   송파구    671173    664496    6677    76582
181  2017   강동구    440359    436223    4136    56161
182  2018    합계  10049607   9765623  283984  1416131
183  2018   종로구    163026    153065    9961    26742
184  2018    중구    135633    125725    9908    22005
185  2018   용산구    245090    228999   16091    37640
186  2018   성동구    316463    308221    8242    42767
187  2018   광진구    371063    355559   15504    45619
188  2018  동대문구    364338    348052   16286    57165
189  2018   중랑구    408147    403209    4938    61830
190  2018   성북구    447687    435868   11819    67782
191  2018   강북구    322915    319164    3751    58196
192  2018   도봉구    341649    339413    2236    55964
193  2018   노원구    548160    543752    4408    77096
194  2018   은평구    487666    483197    4469    77420
195  2018  서대문구    323080    310313   12767    50456
196  2018   마포구    386359    375077   11282    50833
197  2018   양천구    468145    464185    3960    58045
198  2018   강서구    603611    596949    6662    79660
199  2018   구로구    438486    404497   33989    61801
200  2018   금천구    254021    233917   20104    35739
201  2018  영등포구    403600    367778   35822    55673
202  2018   동작구    409385    396203   13182    59479
203  2018   관악구    520040    501957   18083    72249
204  2018   서초구    438163    433951    4212    54751
205  2018   강남구    547453    542364    5089    67085
206  2018   송파구    673507    666635    6872    81364
207  2018   강동구    431920    427573    4347    58770

[130 rows x 6 columns]

In [501]:
s_pop_last.shape

(130, 6)

In [502]:
s_cctv.shape

(25, 12)

In [503]:
# 자치구 개수로 인구데이터 개수를 나눠부니 딱 안떨어진다. => 125가 되어야하는데
# 130이 되엇다 => 년도별로 1개식 데이터가 더 있다.
s_pop_last.shape[0] / s_cctv.shape[0]

5.2

In [504]:
s_pop_last.head(27)
# 찍어보니 합계라는 데이터가 추가되어 있다.
# 합계를 제거 혹은 합계를 빼고 데이터 프레임을 구성해라

       기간   자치구       인구수       한국인     외국인      고령자
78   2014    합계  10369593  10103233  266360  1221616
79   2014   종로구    165344    156993    8351    24537
80   2014    중구    136227    128065    8162    19960
81   2014   용산구    249914    235951   13963    34896
82   2014   성동구    303891    296086    7805    36684
83   2014   광진구    377375    363354   14021    38974
84   2014  동대문구    376319    363687   12632    50915
85   2014   중랑구    423411    418836    4575    51995
86   2014   성북구    475961    466706    9255    62066
87   2014   강북구    338410    335025    3385    50841
88   2014   도봉구    355712    353709    2003    46471
89   2014   노원구    586056    582552    3504    66480
90   2014   은평구    503243    498644    4599    67002
91   2014  서대문구    320861    310376   10485    45309
92   2014   마포구    395830    385439   10391    47360
93   2014   양천구    490708    486221    4487    48175
94   2014   강서구    591653    585160    6493    64287
95   2014   구로구    457131    425831   31300    51187
96   2014   금천구    258030    238463   19567    29553
97   2014  영등포구    421436    382352   39084    49829
98   2014   동작구    419261    407470   11791    52327
99   2014   관악구    531960    513186   18774    62577
100  2014   서초구    454288    449678    4610    47469
101  2014   강남구    583446    578114    5332    57444
102  2014   송파구    671794    664738    7056    65025
103  2014   강동구    481332    476597    4735    50253
104  2015    합계  10297138  10022181  274957  1267563

In [505]:
s_pop_last = s_pop_last[s_pop_last.자치구 !='합계']
s_pop_last.shape

(125, 6)

In [506]:
s_pop_last.shape[0] / s_cctv.shape[0]
# 데이터 매칭 정상

5.0

In [507]:
# 데이터 프레임을 합쳐서 진행할 것인데, 자치구 데이터들이 고유한지 체크
s_cctv['자치구']
s_cctv['자치구'].unique()
len(s_cctv['자치구'].unique())

25

In [508]:
len(s_pop_last['자치구'].unique())

25

In [509]:
# NaN 검출
s_cctv['자치구'].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: 자치구, dtype: bool

In [510]:
# Nan 데이터 제거
nanidx = s_cctv[ s_cctv['자치구'].isnull()].index
nanidx.any() #any 는 존재하는지 확인 즉, 여기선 null값이 있는지 
if nanidx.any():
    s_cctv.drop([nanidx], inplace=True)

In [511]:
# 인구 데이터 s_pop_last 에서 외국인비율, 고령자비율 추가
# 외국인비율 = 외국인 / 인구수 * 100

In [512]:
s_pop_last.columns

Index(['기간', '자치구', '인구수', '한국인', '외국인', '고령자'], dtype='object')

In [513]:
s_pop_last['외국인비율'] = s_pop_last['외국인'] / s_pop_last['인구수'] * 100
s_pop_last['고령자비율'] = s_pop_last['고령자'] / s_pop_last['인구수'] * 100

C:\Users\User\Anaconda3\envs\analysis\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\User\Anaconda3\envs\analysis\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [514]:
# s_pop_last 데이터에서 s_pop_last_2018 생성, 2018년도만 획득
s_pop_last_2018 = s_pop_last[ s_pop_last.기간 == 2018]
s_pop_last_2018.shape

(25, 8)

In [515]:
s_pop_last_2018.sort_values( by='외국인비율', ascending= False).head(2)

       기간   자치구     인구수     한국인    외국인    고령자     외국인비율      고령자비율
201  2018  영등포구  403600  367778  35822  55673  8.875619  13.794103
200  2018   금천구  254021  233917  20104  35739  7.914306  14.069309

In [516]:
s_cctv.head(3)

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2014년 이전,최신증가율
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,2885.0,80.970537
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,883.0,112.797282
2,강 북 구,1265,243.0,88.0,141.0,74,145,254,1,319,546.0,131.684982

### DataFrame 합치기 : 병합 ( 고급주제)

<a href ='http://localhost:8888/notebooks/Desktop/py_projects/analysis/pandas/basic/pandas_advanced.ipynb'>실습하기</a>

In [517]:
# s_cctv, s_pop_last_2018 2개를 병합
# data_result = pd.merge(s_cctv, s_pop_last_2018, on='자치구')
# data_result.shape

In [518]:
s_cctv['자치구']

0       강 남 구
1       강 동 구
2       강 북 구
3       강 서 구
4       관 악 구
5       광 진 구
6       구 로 구
7       금 천 구
8       노 원 구
9       도 봉 구
10       동대문구
11      동 작 구
12      마 포 구
13       서대문구
14      서 초 구
15      성 동 구
16      성 북 구
17      송 파 구
18      양 천 구
19       영등포구
20      용 산 구
21      은 평 구
22      종 로 구
23    중     구
24      중 랑 구
Name: 자치구, dtype: object

In [519]:
s_pop_last_2018['자치구']

183     종로구
184      중구
185     용산구
186     성동구
187     광진구
188    동대문구
189     중랑구
190     성북구
191     강북구
192     도봉구
193     노원구
194     은평구
195    서대문구
196     마포구
197     양천구
198     강서구
199     구로구
200     금천구
201    영등포구
202     동작구
203     관악구
204     서초구
205     강남구
206     송파구
207     강동구
Name: 자치구, dtype: object

In [520]:
# s_pop_last_2018과 s_cctv의 자치구 용어가 통일이 되어있지 않아 문자열 내부에 공백이 존재한다.
# 공백을 부여할 것인지, 공백을 제거할 것인지 기준점을 정해 데이터를 전처리 후 병합진행
 ' 용 산 구 '.replace(' ','')

'용산구'

In [524]:
# s_cctv의 자치구 데이터를 한놈씩 꺼내서 공백을 제거하고 원위치 시켜야 된다.
# 한놈씩 건들여 적용시키는 함수 apply
def reSpace(x):
    return x.replace(' ','')

# 처리할 내용이 1줄이면 lambda로 처리, 그 이상이면 함수를 정의해서 처리한다.

# s_cctv['자치구'].apply ( lambda xL x.replace(' ',''))
s_cctv['자치구'] = s_cctv['자치구'].apply( lambda x: x.replace(' ','') )

In [526]:
data_result = pd.merge( s_cctv, s_pop_last_2018, on='자치구' )
data_result

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2014년 이전,최신증가율,기간,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,5221,1944.0,195.0,316.0,430,546,765,577,448,2885.0,80.970537,2018,547453,542364,5089,67085,0.929578,12.254020
1,강동구,1879,303.0,387.0,134.0,59,144,194,273,385,883.0,112.797282,2018,431920,427573,4347,58770,1.006436,13.606686
2,강북구,1265,243.0,88.0,141.0,74,145,254,1,319,546.0,131.684982,2018,322915,319164,3751,58196,1.161606,18.022080
3,강서구,1617,219.0,155.0,118.0,230,187,190,264,254,722.0,123.961219,2018,603611,596949,6662,79660,1.103691,13.197241
4,관악구,3985,430.0,56.0,419.0,487,609,619,694,671,1392.0,186.278736,2018,520040,501957,18083,72249,3.477233,13.892970
5,광진구,1581,470.0,42.0,83.0,87,64,21,468,346,682.0,131.818182,2018,371063,355559,15504,45619,4.178266,12.294139
6,구로구,3227,852.0,219.0,349.0,187,268,326,540,486,1607.0,100.808961,2018,438486,404497,33989,61801,7.751445,14.094179
7,금천구,1634,27.0,17.0,242.0,101,382,136,199,530,387.0,322.222222,2018,254021,233917,20104,35739,7.914306,14.069309
8,노원구,1906,481.0,117.0,203.0,80,461,298,110,156,881.0,116.345062,2018,548160,543752,4408,77096,0.804145,14.064507
9,도봉구,858,197.0,66.0,8.0,185,59,155,117,71,456.0,88.157895,2018,341649,339413,2236,55964,0.654473,16.380554
10,동대문구,2003,0.0,0.0,0.0,1326,111,233,136,197,0.0,0.000000,2018,364338,348052,16286,57165,4.470025,15.690101
11,동작구,1780,238.0,93.0,29.0,503,130,254,278,255,863.0,106.257242,2018,409385,396203,13182,59479,3.219952,14.528866
12,마포구,1935,585.0,108.0,69.0,70,177,359,372,195,832.0,132.572115,2018,386359,375077,11282,50833,2.920082,13.156934
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,1126.0,88.365897,2018,323080,310313,12767,50456,3.951653,15.617185
14,서초구,2835,1172.0,91.0,228.0,134,215,352,247,396,1625.0,74.461538,2018,438163,433951,4212,54751,0.961286,12.495578
15,성동구,2679,665.0,109.0,118.0,101,258,201,933,294,993.0,169.788520,2018,316463,308221,8242,42767,2.604412,13.514060
16,성북구,3003,779.0,84.0,304.0,241,279,388,285,643,1408.0,113.281250,2018,447687,435868,11819,67782,2.640014,15.140489
17,송파구,1586,600.0,99.0,88.0,21,166,100,116,396,808.0,96.287129,2018,673507,666635,6872,81364,1.020331,12.080647
18,양천구,2775,772.0,161.0,185.0,169,172,349,137,830,1287.0,115.617716,2018,468145,464185,3960,58045,0.845892,12.398936
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,676.0,269.082840,2018,403600,367778,35822,55673,8.875619,13.794103
20,용산구,2063,1279.0,152.0,201.0,107,102,89,60,73,1739.0,18.631397,2018,245090,228999,16091,37640,6.565343,15.357624
21,은평구,2962,1365.0,83.0,99.0,343,180,296,229,367,1890.0,56.719577,2018,487666,483197,4469,77420,0.916406,15.875620
22,종로구,1471,8.0,7.0,599.0,132,195,148,281,101,746.0,97.184987,2018,163026,153065,9961,26742,6.110068,16.403518
23,중구,1544,25.0,165.0,114.0,80,245,270,317,328,384.0,302.083333,2018,135633,125725,9908,22005,7.305007,16.223928
24,중랑구,1068,0.0,0.0,0.0,770,102,121,66,9,0.0,0.000000,2018,408147,403209,4938,61830,1.209858,15.148954

In [529]:
# 기간 제거   -> 간단히 제거
del data_result['기간']

KeyError: '기간'

In [530]:
del data_result['2011년 이전']

In [532]:
data_result

,자치구,소계,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2014년 이전,최신증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,5221,195.0,316.0,430,546,765,577,448,2885.0,80.970537,547453,542364,5089,67085,0.929578,12.254020
1,강동구,1879,387.0,134.0,59,144,194,273,385,883.0,112.797282,431920,427573,4347,58770,1.006436,13.606686
2,강북구,1265,88.0,141.0,74,145,254,1,319,546.0,131.684982,322915,319164,3751,58196,1.161606,18.022080
3,강서구,1617,155.0,118.0,230,187,190,264,254,722.0,123.961219,603611,596949,6662,79660,1.103691,13.197241
4,관악구,3985,56.0,419.0,487,609,619,694,671,1392.0,186.278736,520040,501957,18083,72249,3.477233,13.892970
5,광진구,1581,42.0,83.0,87,64,21,468,346,682.0,131.818182,371063,355559,15504,45619,4.178266,12.294139
6,구로구,3227,219.0,349.0,187,268,326,540,486,1607.0,100.808961,438486,404497,33989,61801,7.751445,14.094179
7,금천구,1634,17.0,242.0,101,382,136,199,530,387.0,322.222222,254021,233917,20104,35739,7.914306,14.069309
8,노원구,1906,117.0,203.0,80,461,298,110,156,881.0,116.345062,548160,543752,4408,77096,0.804145,14.064507
9,도봉구,858,66.0,8.0,185,59,155,117,71,456.0,88.157895,341649,339413,2236,55964,0.654473,16.380554
10,동대문구,2003,0.0,0.0,1326,111,233,136,197,0.0,0.000000,364338,348052,16286,57165,4.470025,15.690101
11,동작구,1780,93.0,29.0,503,130,254,278,255,863.0,106.257242,409385,396203,13182,59479,3.219952,14.528866
12,마포구,1935,108.0,69.0,70,177,359,372,195,832.0,132.572115,386359,375077,11282,50833,2.920082,13.156934
13,서대문구,2121,233.0,214.0,114,109,277,415,194,1126.0,88.365897,323080,310313,12767,50456,3.951653,15.617185
14,서초구,2835,91.0,228.0,134,215,352,247,396,1625.0,74.461538,438163,433951,4212,54751,0.961286,12.495578
15,성동구,2679,109.0,118.0,101,258,201,933,294,993.0,169.788520,316463,308221,8242,42767,2.604412,13.514060
16,성북구,3003,84.0,304.0,241,279,388,285,643,1408.0,113.281250,447687,435868,11819,67782,2.640014,15.140489
17,송파구,1586,99.0,88.0,21,166,100,116,396,808.0,96.287129,673507,666635,6872,81364,1.020331,12.080647
18,양천구,2775,161.0,185.0,169,172,349,137,830,1287.0,115.617716,468145,464185,3960,58045,0.845892,12.398936
19,영등포구,2495,121.0,206.0,217,366,289,371,793,676.0,269.082840,403600,367778,35822,55673,8.875619,13.794103
20,용산구,2063,152.0,201.0,107,102,89,60,73,1739.0,18.631397,245090,228999,16091,37640,6.565343,15.357624
21,은평구,2962,83.0,99.0,343,180,296,229,367,1890.0,56.719577,487666,483197,4469,77420,0.916406,15.875620
22,종로구,1471,7.0,599.0,132,195,148,281,101,746.0,97.184987,163026,153065,9961,26742,6.110068,16.403518
23,중구,1544,165.0,114.0,80,245,270,317,328,384.0,302.083333,135633,125725,9908,22005,7.305007,16.223928
24,중랑구,1068,0.0,0.0,770,102,121,66,9,0.0,0.000000,408147,403209,4938,61830,1.209858,15.148954

In [533]:
# 자차구 -> 인덱스로 적용 => 시각화를 위해 배치
# 특정 컬럼을 인덱스로 적용
data_result.set_index('자치구', inplace=True)
data_result.head()

,소계,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2014년 이전,최신증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
자치구,,,,,,,,,,,,,,,,
강남구,5221,195.0,316.0,430,546,765,577,448,2885.0,80.970537,547453,542364,5089,67085,0.929578,12.254020
강동구,1879,387.0,134.0,59,144,194,273,385,883.0,112.797282,431920,427573,4347,58770,1.006436,13.606686
강북구,1265,88.0,141.0,74,145,254,1,319,546.0,131.684982,322915,319164,3751,58196,1.161606,18.022080
강서구,1617,155.0,118.0,230,187,190,264,254,722.0,123.961219,603611,596949,6662,79660,1.103691,13.197241
관악구,3985,56.0,419.0,487,609,619,694,671,1392.0,186.278736,520040,501957,18083,72249,3.477233,13.892970

### 상관성 검사
- 상관계수 : 0~1
> 0.1 이하 : 거의 관련 없음, 무시  
> 0.3 이하 : 약한 상관관계  
> 0.7 이하 : 뚜렷한 상관관계  
> ~이상 : 명확한 상관관계  
-np.corrcoef()

In [535]:
# CCTV 설치 총양 대비 고령자 비율
np.corrcoef(data_result['고령자비율'], data_result['소계'])
# 행렬로 응답, 대각선 기준 값이 출력

array([[ 1.        , -0.40379375],
       [-0.40379375,  1.        ]])

In [536]:
# -0.40379375 => 관련없음

In [538]:
np.corrcoef(data_result['인구수'], data_result['소계'])
# 0.37523207 약한쪽에 가까움

array([[1.        , 0.37523207],
       [0.37523207, 1.        ]])

In [541]:
np.corrcoef(data_result['외국인비율'],data_result['소계'])

array([[ 1.        , -0.04143132],
       [-0.04143132,  1.        ]])

In [542]:
np.corrcoef(data_result['한국인'],data_result['소계'])

array([[1.       , 0.3580254],
       [0.3580254, 1.       ]])

In [543]:
# CCTV가 많은 구 시각화를 한다 => 데이터 정렬
data_result.sort_values(by='소계', ascending=False).head(5)

,소계,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2014년 이전,최신증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
자치구,,,,,,,,,,,,,,,,
강남구,5221,195.0,316.0,430,546,765,577,448,2885.0,80.970537,547453,542364,5089,67085,0.929578,12.254020
관악구,3985,56.0,419.0,487,609,619,694,671,1392.0,186.278736,520040,501957,18083,72249,3.477233,13.892970
구로구,3227,219.0,349.0,187,268,326,540,486,1607.0,100.808961,438486,404497,33989,61801,7.751445,14.094179
성북구,3003,84.0,304.0,241,279,388,285,643,1408.0,113.281250,447687,435868,11819,67782,2.640014,15.140489
은평구,2962,83.0,99.0,343,180,296,229,367,1890.0,56.719577,487666,483197,4469,77420,0.916406,15.875620

----------------------------------------------------------------------------------------------------------------------------------------

## 시각화 기초